.insert-list {
  margin: 0 auto;
  margin-bottom: 20px;
}

.my-body {
  padding: 80px;
}

.center {
  text-align: center;
}

.btn {
  width: 200px;
  margin-bottom: 20px;
}

.container {
  padding: 20px;
}